<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Introduction to Data</h3>
    <ul>
      <li>Intro to data</li>
      <li>Jargon busting</li>
      <li>Keyboard shortcuts</li>
      <li><a href="https://librarycarpentry.github.io/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
 <div class="col-md-6">
     <h3 id="syllabus-r">OpenRefine</h3>
     <ul>
       <li>Introduction to OpenRefine</li>
       <li>Importing data</li>
       <li>Basic functions</li>
       <li>Advanced Functions</li>
       <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">Reference...</a></li>
     </ul>
   </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Introduction to Python</h3>
    <ul>
      <li>Variables and assignment</li>
      <li>Data types</li>
      <li>Built-in functions and libraries</li>
      <li>Lists and loops</li>
      <li>Working with data in Pandas</li>
      <li>Plotting in Python</li>
      <li>Functions</li>
      <li><a href="https://ucla-data-archive.github.io/library-python/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-r">Tidy Data for Librarians</h3>
      <ul>
        <li>Using spreadsheet programs for data wrangling</li>
        <li>Formatting data tables in spreadsheets</li>
        <li>Formatting data</li>
        <li>Dealing with dates</li>
        <li>Basic quality assurance</li>
        <li><a href="https://librarycarpentry.github.io/lc-spreadsheets/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
